In [32]:
import os
import random
import pandas as pd 
import numpy as np
from datetime import datetime,timedelta
from random import randint
from collections import OrderedDict
import math
import json


block = pd.read_csv("blocks/block_1.csv")
block

       positive  gender  age  ethnicity
0             1       1    1          5
1             1       0    3          6
2             1       1    1          4
3             1       0    2          2
4             1       1    2          2
...         ...     ...  ...        ...
25480         0       0    2          3
25481         0       1    3          2
25482         0       1    2          2
25483         0       0    1          2
25484         0       1    3          1

[25485 rows x 4 columns]

In [33]:
block.groupby('positive')['positive'].count()

positive
0    23645
1     1840
Name: positive, dtype: int64

In [34]:
count_positives = len(block.query("positive == 1"))
count_positives_rate = count_positives / len(block)

In [36]:
print(count_positives)
print(count_positives_rate)
print(len(block))

1840
0.07219933294094566
25485

In [38]:
cols = list(block.columns)
df = block.groupby(cols).size()
df

positive  gender  age  ethnicity
0         0       0    0               6
                       1             393
                       2            1067
                       3             109
                       4              13
                                    ...
1         1       3    2              90
                       4               5
                       5              13
                       6              53
                       7              14
Length: 116, dtype: int64